$navbar-item-hover-color: black;

// Navigation Bar
$navbar-background-color: $linear-gradient;
$navbar-item-color: black;
$navbar-dropdown-background-color: white;
$navbar-dropdown-item-hover-color: $link;
$navbar-item-hover-background-color: $link;

// Bulma specific
$navbar-dropdown-arrow: #333;