// Body
$body-bg: #fff;
$body-font-color: #333;
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;

.body {
    color: $body-font-color;
    background-color: $body-bg;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    font-weight: 100;
    margin: 0 10px;
}

// Header
$title-line-height: 5rem;

// Footer
$footer-bg: #333;
$footer-font-size: 3rem;
$footer-font-color: #fff;
// .footer {
//     background-color: $footer-bg;
//     color: $footer-font-color;
// }

html {
    font-size: 100%;
}

// Navigation Bar
$nav-bg: #333;
$nav-font-color: #fff;
$nav-font-size: 1.5rem;

// Bulma specific
$navbar-dropdown-arrow: #333;
$navbar-item-color: #333;
$box-padding: 0;

@media only screen and (max-device-width: 812px) and (orientation: portrait) {
    .navbar__dropdown--hide {
        display: none;
    }
}

//  Section
.box {
    margin-bottom: 0;
}
